rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /story-jobs/{uid}/{fileName} {
      allow read, write: if false;
    }

    match /voice-samples/{uid}/{voiceId}/{fileName} {
      allow read: if false;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
